<hr />
<div>
    <form method="post" action="edit?id=<?php echo $id?>">
    Name <br />
    <input type="text" name="name" value="<?php echo $name?>" /><br />
    Email <br />
    <input type="text" name="email" value="<?php echo $email?>" /><br />
    Phone <br />
    <input type="text" name="phone" value="<?php echo $phone?>" /><br />
    <br /><br />
    <input type="submit" value="Save" />
    </form>
</div>