<div><a href="contact/home/new">Add new Contact</a></div>
<hr />
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <?php if(count($rows) > 0) : ?>
            <?php foreach($rows as $r) : ?>
                <tr>
                    <td><?php echo $r['name']; ?></td>
                    <td><?php echo $r['email']; ?></td>
                    <td><?php echo $r['phone']; ?></td>
                    <td>
                        <a href="contact/home/edit?id=<?php echo $r['id']; ?>">Edit</a> / 
                        <a href="contact/home/delete?id=<?php echo $r['id']; ?>">Delete</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </table>    
</div>