<hr />
<div>
    <div>
        <?php echo $this->errorMsg($invalids); ?>
    </div>
    <form method="post" action="new">
        Name
        <br />
        <input type="text" name="name" <?php echo isset($invalids['name']) ? 'class="error"' : '' ;?> value="<?php echo $row['name']; ?>" />
        <br />
        Email
        <br />
        <input type="text" name="email" <?php echo isset($invalids['email']) ? 'class="error"' : '' ;?> value="<?php echo $row['email']; ?>" />
        <br />
        Phone
        <br />
        <input type="text" name="phone" <?php echo isset($invalids['phone']) ? 'class="error"' : '' ;?> value="<?php echo $row['phone']; ?>" />
        <br />
        <br />
        <br />
        <input type="submit" value="Save" />
    </form>
</div>

