<?php echo $this->doctype(); ?>
<html lang="en">

    
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
        <base href="<?php echo $this->basePath()?>">
        
        <style type="text/css">
            form .error {
                border: 1px solid red;
            }
        </style>
    </head>
    
    <body>
        
        <h1>Address Book</h1>
        <hr />
        
        <div class="container">
            <?php echo $this->content; ?>
            <hr />
            <footer>
                <p>Address Book &copy; <?php echo date("Y"); ?></p>
            </footer>
        </div>
        
    </body>

</html>